@forward 'typography';
@forward 'container';

@use 'flex';

// -------------------------- Mixins --------------------------

@mixin zoo-btn-size($fontSize: 16px, $pdTopBot: 10px, $pdRightLeft: 24px, $minWidth: inherit) {
	padding: $pdTopBot $pdRightLeft;
	font-size: $fontSize;
	min-width: $minWidth;
}

@mixin zoo-btn-color($bg: none, $color: none, $borderColor: none, $fontWeight: none) {
	background: $bg;
	color: $color;
	border-color: $borderColor;
	transition: all var(--zoo-default-transition) ease-in-out;
}

// -------------------------- Styles --------------------------
.zoo-btn {
	@include flex.zoo-flex(row, center, center, 8px);
	@extend .zoo-crs-pointer;
	@extend .zoo-br-80;
	@extend .zoo-center;
	outline: none;
	border: 1px solid;
	touch-action: manipulation;
	user-select: none;
	white-space: nowrap;
	transition: all var(--zoo-default-transition) ease-in-out;

	&:disabled {
		@extend .zoo-crs-not-allowed;

		opacity: 0.8;
	}
}

.zoo-btn-sm {
	@include zoo-btn-size(16px, 10px, 24px);
}

.zoo-btn-md {
	@include zoo-btn-size();
}

// -------------------------- Light Buttons --------------------------
.zoo-btn-primary {
	@include zoo-btn-color(var(--zoo-primary-400), var(--zoo-static-black), var(--zoo-primary-400));

	&:hover {
		@include zoo-btn-color(var(--zoo-primary-300), var(--zoo-static-black), var(--zoo-primary-300));
	}

	&:focus {
		@include zoo-btn-color(var(--zoo-primary-200), var(--zoo-static-black), var(--zoo-primary-200));
	}

	&:active {
		@include zoo-btn-color(var(--zoo-primary-300), var(--zoo-static-black), var(--zoo-primary-300));
	}

	&:disabled {
		@include zoo-btn-color(var(--zoo-gray-100), var(--zoo-gray-950), var(--zoo-gray-100));
		opacity: 0.9;
	}
}

.zoo-btn-secondary {
	@include zoo-btn-color(transparent, var(--zoo-gray-950), var(--zoo-gray-950));

	&:hover {
		@include zoo-btn-color(var(--zoo-gray-100), var(--zoo-gray-950), var(--zoo-gray-950));
	}

	&:focus {
		@include zoo-btn-color(var(--zoo-gray-100), var(--zoo-gray-950), var(--zoo-gray-950));
	}

	&:active {
		@include zoo-btn-color(var(--zoo-gray-100), var(--zoo-gray-950), var(--zoo-gray-950));
	}

	&:disabled {
		@include zoo-btn-color(transparent, var(--zoo-gray-950), var(--zoo-gray-950));
		opacity: 0.9;
	}
}

.zoo-btn-link {
	@include zoo-btn-color(transparent, var(--zoo-gray-950), transparent);

	&:hover {
		@include zoo-btn-color(var(--zoo-system-green-400), var(--zoo-gray-min), transparent);
	}

	&:focus {
		@include zoo-btn-color(var(--zoo-system-green-500), var(--zoo-gray-min), transparent);
	}

	&:active {
		@include zoo-btn-color(var(--zoo-system-green-500), var(--zoo-gray-min), transparent);
	}

	&:disabled {
		@include zoo-btn-color(var(--zoo-gray-100), var(--zoo-gray-950), transparent);
		opacity: 0.9;
	}
}
