@use 'flex';
@use 'variables' as vars;



.section {
	height: var(--section-height);

	&__title {
		width: 100%;
		text-align: center;

		@include vars.s {
			text-align: left;
		}
	}

	&__content {
		display: block;		
		height: 100%;

		@include vars.m {
			@include flex.zoo-flex(row, flex-start, center);
		}

		& > * {
			display: block;
			height: var(--section-media-height);

			@include vars.m {
				height: var(--section-height);
				flex: 1;
			}
		}
	}
}