@if (metadata()) {
	<div #section class="section">
        <h3 class="section__title zoo-heading-b-4">{{ metadata().title | titlecase }}</h3>

        <div class="section__content">
            @for (content of metadata().content; track $index) {
                @switch (content.type) {
                    @case (CONTENT_TYPE.CAROUSEL) {
                        <zoo-carousel [metadata]="content"></zoo-carousel>
                    }
                    @case (CONTENT_TYPE.CONTAINER_CENTERED) {
                        <zoo-container-centered [metadata]="content"></zoo-container-centered>
                    }
                    @case (CONTENT_TYPE.GALLERY_VIEW) {
                        <zoo-gallery-view [metadata]="content"></zoo-gallery-view>
                    }
                    @default {
                        <zoo-container [metadata]="content"></zoo-container>
                    }
                }
            }
        </div>
    </div>
}