@use 'flex';
@use 'variables' as vars;

:host {

	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url(/assets/footer-background.jpg) center center no-repeat;
    background-size: cover;
}

.footer {
	color: var(--zoo-gray-min);

	@include vars.l {
		max-width: calc(vars.$screen-l-min - 72px);
	}

	@include vars.xxl {
		max-width: calc(var(--zoo-xxl-area) - 72px);
	}

	&-nav {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 36px;

		@include vars.s {
			grid-template-columns: repeat(3, 3fr);
			justify-items: center;
			grid-gap: 10px;
		}

		@include vars.m {
			grid-template-columns: repeat(3, 1fr);
		}

		&__col {
			@include flex.zoo-flex(column, flex-start, center, var(--zoo-sp-8));

			padding: 6px 12px;

			@include vars.s {
				align-items: flex-start;
			}
	
			&-title {
				color: var(--zoo-gray-min);
			}


			&-link {
				color: var(--zoo-gray-min);
				transition: var(--zoo-default-transition);

				&:hover {
					transform: translateY(-2px);
				}
			}

			&-row {
				@include flex.zoo-flex(row, initial, initial);
			}

			&-contacts {
				@include flex.zoo-flex(column, flex-start, center, var(--zoo-sp-16));
				
				@include vars.s {
					margin-left: 0;
					margin-top: 6px;
					align-items: flex-start
				}
	
				&__item {
					color: var(--zoo-gray-min);
				}
			}
		}
	}

	&-copyright {
		text-align: center;
	}
}